:root {
  --color-accent-main: #4285f4;
  --color-dark: #000000;
  --color-medium: #808080;
  --color-100: #ffffff;
  --color-200: #f1f1f1;

  --container-default-padding: 0.75rem;
  --container-xl-padding: 2.5rem;
  
  --font-display: 'Nunito', sans-serif;
}